
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(200, 150, 0);
    }

.left-panel li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 220px 1fr;
}
.left-panel{
  float: left;
}
/* Change the link color on hover */
.left-panel li a:hover {
    background-color: black;
    color: white;
}

header	{
    background-color: gray;
    padding: 10px;
    text-align:center;
    color: white;
  }

  .homebackground {
    background-image:url("http://bestanimations.com/Nature/nature-waterfall-animated-gif-4.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .homebackground .right-panel{
    color: rgb(500, 150, 100);
      }

.right-panel {
  float:right;
  width: 80%;
  padding: 15px;
  text-align: justify;


    }
.right-panel ol{
  font-size:18px;
}
#resume {
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
}

.resume > li{
font-weight: bold;

}
.paragraphmystory {
padding: 30px;
margin-right:auto;
margin-left: auto;
border: black solid;
border-radius: 30px;
font-size: 18px;
line-height: 1.75em;
background-color: pink;
color: black;
text-align:justify;
height: 350px;
overflow: scroll;

}
.storyh3 {
  color: purple;
  font-style: italic;

}
.storyh2 {
  color: blue;
  font-style: italic;
  font-weight: bolder;
  text-align:center;
}
.handc{
  color: blue;
  font-style: italic;
  font-weight: bold;
}
.highlight{
  background-color: gray;
}
.homeh1{
  font-weight: bolder;
  font-size: 50px;
  text-align: center;

}
